LEARNINGS.md
.env
.env.local
ffcareers-key.pem
/backend/node_modules/
/backend/dist/
backend/commands.txt
ff-careers-firebase-adminsdk-fbsvc-389dbd447c.json
/node_modules
VERCEL_COMMANDS.md
.vercel
.env*.local
